$navbar-default-bg: #0808AA;

@import "bootstrap-sprockets";
@import "bootstrap";

#nav{
    float: left;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
}

ul li{
    list-style: none;
}

.jumbotron{
    height: 720px;
    background-image: url("cover1.jpg");
    margin-bottom: 15px;
}

.page-footer{
    width: 100%;
    background-color: #ef8bdd;
    color: aliceblue;
    text-align: center;
}

.bkd{
    background-image: asset-url('10-9.jpg');
    background-size: cover;
    height: 750px;
}

.style{
    background-color: black;
}